/* =======fonts============ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* ========use font popins =============*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ==============common css end============= */

/* =================banner part css Start============ */
#banner {
    background-color: #2D25A0;
    padding: 59px 0 114px;
}




.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    grid-column-gap: 100px;
}

.left-content {
    width: 485px;
    height: 230px;
}

.left-content h3 {
    font-size: 64px;
    font-weight: 700;
    color: #ffff;
    margin-bottom: 12px;
}



.left-content a {
    width: 168px;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    color: #ffff;
    padding: 10px 20px;
    background-color: #E02C6D;
    transition: all linear 0.3s;
}

.left-content a:hover {
    background-color: coral;
    color: black;
    border-radius: 5px;
}

.left-content a:hover i {
    color: #2D25A0;
}

.left-content i {
    width: 24px;
    height: 24px;
    color: #ffff;
    padding-left: 8px;
    transition: all linear 0.3s;
}

/* banner left-content end */

/* bg-image part start */
.bg-image {
    width: 555px;
    height: 444px;
}

.bg-image img {
    width: 100%;
}

/* =================banner part css End============ */



/* =================blog part css Start============ */
#blog {
    padding: 70px 0 165px;
}

.main-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

.blog_items {
    width: 330px;
    height: 444px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.blog_items img {
    width: 100%;
}

.blog_items h2 {
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
}

.blog_items p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6C6C6C;
}

/* =================blog part css End============ */




/* =================Highlights part css Start============ */





.hilights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 66px;
    align-items: flex-end;
}

.hi-content {
    width: 469px;
    height: 309px;
}

.hi-content h3 {
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
    margin-bottom: 25px;
}



.hi-content a {
    width: 168px;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    color: #ffff;
    padding: 10px 20px;
    background-color: #E02C6D;
    transition: all linear 0.3s;
}

.hi-content a:hover {
    background-color: coral;
    color: black;
    border-radius: 5px;
}

.hi-content a:hover i {
    color: #2D25A0;
}

.hi-content i {
    width: 24px;
    height: 24px;
    color: #ffff;
    padding-left: 8px;
    transition: all linear 0.3s;
}

.hi-image {
    width: 567px;
    height: 427px;
}

.hi-image img {
    width: 100%;
    height: 100%;
}

/* =================HIghlights part css End============ */


/* =================matchs part css Start============ */
#features {
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;

}

.title {
    font-size: 40px;
    font-weight: 700;
    color: #FF7F50;
    margin-bottom: 25px;
}

#features .feature {
    background-color: #EBE6DF;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    border: 10px solid #001386;
}

.feature-1 {
    width: 380px;
    padding: 30px;
    border-right: 4px solid #FF7F50;

}

.feature :last-child {
    border-right: none;
}

.top-part {
    margin-bottom: 50px;
}

.top-part h3 {
    font-size: 20px;
    color: #001386;
}

.top-part span {
    font-size: 14px;
    color: grey;
}

.bottom-part {
    display: flex;
    margin-bottom: 20px;
}

.bottom-part h5 {
    display: inline;
    font-size: 16px;
    font-weight: 700;
    color: sienna;
    padding-left: 15px;
}

.bottom-part .spaceing {
    font-size: 25px;
    font-weight: 700;
    margin-left: 82px;
    color: #001386;
}

/* =================matchs part css End============ */



/* ================live video stream part css Start============ */
#live-stream {
    background-image: linear-gradient(45deg, #FF7F50, #001386);
    padding-bottom: 85px;
}

.stream {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}

.video {
    display: flex;
    justify-content: space-between;
}

/* =================live video stream part css End============ */



/* =================header part css Start============ */
/* =================header part css End============ */